﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">華語測驗委員會 TOCFL</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            @*<ul class="nav navbar-nav navbar-right">
        <li><a href="../backdoor/logon.aspx">重新登入</a></li>
    </ul>
            *@
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-2" id="menu">
        <div class="list-group">
            <a href="../Cerificate" class="list-group-item active func"> 成績單列印頁面</a>
      
        </div>
    </div>
    <div class="col-md-10" id="content">
        <div><a id="collapse"><i class="glyphicon glyphicon-transfer"></i></a></div>
        <iframe id="right" style="height: 1300px; width: 100%; border: none;"></iframe>
    </div>
</div>

<script type="text/javascript">

    (function () {

        $('.list-group-item').click(function (e) {
            var $this = $(this);

            $(".list-group-item").removeClass("active");
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
        });

        $(".func").click(function (e) {
            var $this = $(this);
            $('#right').attr('src', $this.attr('href'))
            e.preventDefault();
        });

        $("#collapse").click(function (e) {

            $('#menu').toggle('slow', function () {
                if ($(this).is(':hidden')) {
                    //$(this).text('This element is hidden.');
                    $("#content").attr('class', 'col-md-12')
                }
                else {
                    //$(this).text('This element is visible.');
                    $("#content").attr('class', 'col-md-10')
                }
            });

            e.preventDefault();

        });
    })();
</script>
