﻿
@{
    ViewBag.Title = "Index";
}

<div class="form-group row">
    <div class="text-center">
        <h1>    <font face="Vivaldi">Test of Chinese as a Foreign Language Test Score Report</font></h1>
    </div>
</div>

<div class="col-xs-6">
    <div class="form-group row">
        <label class="col-sm-4 form-control-label">姓名 Name：</label>
        <div class="col-sm-6">
            <p>裴思衛</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 form-control-label">測驗等級　Test Band：</label>
        <div class="col-sm-6">
            <p>進階高階級(Band B)</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 form-control-label">考生編號 Test No：</label>
        <div class="col-sm-6">
            <p>1405311B0301006</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 form-control-label">考試日期 Test Date：</label>
        <div class="col-sm-6">
            <p>2014年 5 月 30 日 (May 30,2014)</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 form-control-label">考試地區 Test Area：</label>
        <div class="col-sm-6">
            <p>台灣(Taiwan)</p>
        </div>
    </div>
    <table class="table  table-bordered">
        <tr >
            <td class="active">證書等級 Certificate Level</td>
            <td class="success">進階級(Level 3)</td>
        </tr>

    </table>
    <table class="table  table-bordered">
        <tbody>
            <tr class="active">
                <td colspan="3" align="center">華語文聽力測驗 TOCFL Listening</td>
            </tr>
            <tr class="success">
                <td>測驗成積 Test Score</td>
                <td>測試結果 Test Results</td>
                <td>CEFR 等級 CEFR Level</td>
            </tr>
            <tr class="warning">
                <td>62</td>
                <td>高階級(Level 4)</td>
                <td>B2</td>
            </tr>
            <tr class="active">
                <td colspan="3" align="center">華語文聽力測驗 TOCFL Listening
                </td>
            </tr>
            <tr class="success">
                <td>測驗成積 Test Score</td>
                <td>測試結果 Test Results</td>
                <td>CEFR 等級 CEFR Level</td>
            </tr>
            <tr class="danger">
                <td>50</td>
                <td>進階級(Level 3)</td>
                <td>B1</td>
            </tr>
        </tbody>
    </table>
    <table class="table  table-bordered">
        <tbody>
            <tr class="success">
                <td rowspan="3"  align="center">相當於美國外語<br/>教學委員會指標<br />等級<br /> ACTEL Level</td>
            </tr>
            <tr class="">
                <td>聽力測驗　Listening</td>
                <td>Advanced Mid</td>
            </tr>
            <tr class="">
                <td>閱讀測驗　Reading</td>
                <td>Intermediate High</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-6">
    <table class="table  table-bordered">
        <tbody>
            <tr class="active">
                <td align="center">聽力能力描述: Listening Proficiency Description</td>
            </tr>
            <tr class="success">
                <td>
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    <br />
    <table class="table  table-bordered">
        <tbody>
            <tr class="active">
                <td align="center">閱讀能力描述: Reading Proficiency Description</td>
            </tr>
            <tr class="success">
                <td>
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                    能聽懂各種抽象或複雜主題的話語內容,即使話語結構或關聯性可能不夠清楚明確;xxxxxcccc
                </td>
            </tr>
        </tbody>
    </table>
    <footer >
        <div align="center">
            <p style="letter-spacing:2px;">
                <img src="~/Content/images/sctop.jpg" width="20" height="20" /><span>國家華語測驗推動工作委員會</span>
            </p>


            <p>Steering Committee for Test Of Proficiency-Huayu</p>
        </div>
    </footer>
</div>
    <script>



    </script>
