@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?wxpcxp');
	src:url('../fonts/icomoon.eot?#iefixwxpcxp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?wxpcxp') format('woff'),
		url('../fonts/icomoon.ttf?wxpcxp') format('truetype'),
		url('../fonts/icomoon.svg?wxpcxp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-power-off:before {
	content: "\f011";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-alarm:before {
	content: "\e600";
}
.icon-clock:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-paperclip:before {
	content: "\e603";
}
.icon-reply:before {
	content: "\e604";
}
.icon-reply-all:before {
	content: "\e605";
}
.icon-forward:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e607";
}
.icon-user-add:before {
	content: "\e608";
}
.icon-export:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-bell:before {
	content: "\e60b";
}
.icon-cross:before {
	content: "\e60c";
}
.icon-minus:before {
	content: "\e60d";
}
.icon-plus:before {
	content: "\e60e";
}
.icon-info:before {
	content: "\e60f";
}
.icon-info2:before {
	content: "\e610";
}
.icon-question:before {
	content: "\e611";
}
.icon-folder:before {
	content: "\e612";
}
.icon-archive:before {
	content: "\e613";
}
.icon-disk:before {
	content: "\e614";
}
.icon-first:before {
	content: "\e615";
}
.icon-last:before {
	content: "\e616";
}
.icon-arrow-left:before {
	content: "\e617";
}
.icon-arrow-right:before {
	content: "\e618";
}
.icon-arrow-left2:before {
	content: "\e619";
}
.icon-arrow-right2:before {
	content: "\e61a";
}
.icon-arrow-left3:before {
	content: "\e61b";
}
.icon-uniE61C:before {
	content: "\e61c";
}
.icon-ellipsis:before {
	content: "\e61d";
}
