﻿.borderless > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .borderless > thead > tr > td, .borderless > tbody > tr > td, .borderless > tfoot > tr > td {
    border: none;
}

.tdCaption-col-1 {
    width: 10%;
    text-align: right;
    height:10px;
}

.tdContent-col-1 {
    width: 90%;
    background-color: white;
    height:10px
}

.control-xs {
    width: 70px;
}

.control-s {
    width: 100px;
}

.control-m {
    width: 150px;
}

.control-l {
    width: 300px;
}

.control-xl {
    width: 600px;
}
.control-xxl {
    width: 100%;
}
.requiredmark
{
	font-size: 13px;
	color: Red;
}

