/* line 5, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 2, ../scss/_col.scss */
.col1 {
  width: 8.33333%; }

/* line 2, ../scss/_col.scss */
.col2 {
  width: 16.66667%; }

/* line 2, ../scss/_col.scss */
.col3 {
  width: 25%; }

/* line 2, ../scss/_col.scss */
.col4 {
  width: 33.33333%; }

/* line 2, ../scss/_col.scss */
.col5 {
  width: 41.66667%; }

/* line 2, ../scss/_col.scss */
.col6 {
  width: 50%; }

/* line 2, ../scss/_col.scss */
.col7 {
  width: 58.33333%; }

/* line 2, ../scss/_col.scss */
.col8 {
  width: 66.66667%; }

/* line 2, ../scss/_col.scss */
.col9 {
  width: 75%; }

/* line 2, ../scss/_col.scss */
.col10 {
  width: 83.33333%; }

/* line 2, ../scss/_col.scss */
.col11 {
  width: 91.66667%; }

/* line 2, ../scss/_col.scss */
.col12 {
  width: 100%; }

/* line 6, ../scss/_col.scss */
[class^="col"] {
  float: left;
  padding: 20px;
  box-sizing: border-box; }
  /* line 10, ../scss/_col.scss */
  [class^="col"]:first-child {
    padding-left: 0; }
  /* line 13, ../scss/_col.scss */
  [class^="col"]:last-child {
    padding-right: 0; }

/* line 2, ../scss/_layout.scss */
html {
  display: inherit !important; }

/* line 7, ../scss/_layout.scss */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none; }

/* line 13, ../scss/_layout.scss */
.clr {
  clear: both; }

/* line 14, ../scss/_layout.scss */
.ctr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 21, ../scss/_layout.scss */
.group:after {
  content: "";
  display: block;
  clear: both; }

/* line 27, ../scss/_layout.scss */
body {
  background: rgba(0, 0, 0, 0.05); }

/* line 30, ../scss/_layout.scss */
.heart {
  font-size: 100%;
  line-height: 1;
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%; }

/* line 38, ../scss/_layout.scss */
.set-group {
  position: relative; }

/* line 41, ../scss/_layout.scss */
.set-right {
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 10px;
  position: absolute; }

/* line 48, ../scss/_layout.scss */
.set-left {
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  position: absolute; }

/* line 55, ../scss/_layout.scss */
.set-center {
  position: absolute; }

/* line 60, ../scss/_layout.scss */
.vmid:before {
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block; }
/* line 67, ../scss/_layout.scss */
.vmid .vitem {
  display: inline-block;
  vertical-align: middle; }

/* line 1, ../scss/_item-list.scss */
.list {
  padding: 10px; }

/* line 4, ../scss/_item-list.scss */
.list-item {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 170%;
  font-size: 13px;
  background: #fff;
  cursor: pointer;
  position: relative; }
  /* line 14, ../scss/_item-list.scss */
  .list-item .icon-export {
    color: #2095f0;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #fff; }
  /* line 22, ../scss/_item-list.scss */
  .list-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

/* line 27, ../scss/_item-list.scss */
.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 32, ../scss/_item-list.scss */
.line-title {
  font-size: 16px;
  padding: 5px 10px 10px;
  border-bottom: 1px solid #eee; }
  /* line 36, ../scss/_item-list.scss */
  .line-title .inline {
    vertical-align: middle; }
  /* line 39, ../scss/_item-list.scss */
  .line-title .tag {
    background: #444;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px;
    margin-right: 5px;
    font-size: 13px; }
    /* line 46, ../scss/_item-list.scss */
    .line-title .tag.tag1 {
      color: #684c10;
      background: #e0a930; }
    /* line 50, ../scss/_item-list.scss */
    .line-title .tag.tag2 {
      background: #3ba431; }
  /* line 54, ../scss/_item-list.scss */
  .line-title .title {
    font-weight: bold; }
  /* line 57, ../scss/_item-list.scss */
  .line-title .customer {
    font-size: 14px;
    color: #147dd0; }

/* line 62, ../scss/_item-list.scss */
.line-info {
  padding: 10px 10px 5px; }
  /* line 64, ../scss/_item-list.scss */
  .line-info .inline {
    margin-right: 5px; }

/* line 68, ../scss/_item-list.scss */
.label {
  color: #888; }

/* line 71, ../scss/_item-list.scss */
.value {
  color: #333; }

/* line 1, ../scss/_btn.scss */
.btn {
  padding: 0 14px;
  text-align: center;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 100%);
  background-color: #ddd;
  background-repeat: repeat-x !important;
  background-position: 0 0;
  border: 1px solid #ccc;
  color: black !important;
  font-size: 14px;
  text-decoration: none;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  transition: all 300ms ease-out; }
  /* line 17, ../scss/_btn.scss */
  .btn:hover {
    background-position: 0 -5px !important; }

/* line 21, ../scss/_btn.scss */
.btn-primary {
  background: -moz-linear-gradient(top, #2095f0 0%, #0f83dd 100%);
  background: -webkit-linear-gradient(top, #2095f0 0%, #0f83dd 100%);
  background: linear-gradient(to bottom, #2095f0 0%, #0f83dd 100%);
  background-color: #0f83dd;
  border: 1px solid #0e7bcf;
  color: white !important; }
  /* line 26, ../scss/_btn.scss */
  .btn-primary i {
    position: relative;
    top: 1px;
    margin-right: 5px; }
  /* line 31, ../scss/_btn.scss */
  .pagination .btn-primary {
    height: 30px;
    line-height: 30px;
    margin-right: -10px;
    border-radius: 0;
    width: auto; }

/* line 39, ../scss/_btn.scss */
.btn-revise {
  color: white !important;
  border: none;
  font-size: 13px;
  background: -moz-linear-gradient(top, #666666 0%, #333333 100%);
  background: -webkit-linear-gradient(top, #666666 0%, #333333 100%);
  background: linear-gradient(to bottom, #666666 0%, #333333 100%);
  background-color: #333; }

/* line 47, ../scss/_btn.scss */
.btn-secondary {
  background: -moz-linear-gradient(top, #26e2e6 0%, #18ccd0 100%);
  background: -webkit-linear-gradient(top, #26e2e6 0%, #18ccd0 100%);
  background: linear-gradient(to bottom, #26e2e6 0%, #18ccd0 100%);
  background-color: #18ccd0;
  border: 1px solid #16bfc3;
  color: black !important; }
  /* line 52, ../scss/_btn.scss */
  .btn-secondary i {
    position: relative;
    top: 1px; }

/* line 60, ../scss/_btn.scss */
.btn-search {
  margin-left: -66px;
  width: 60px;
  border-radius: 0 3px 3px 0;
  color: white !important;
  border: none;
  font-size: 13px;
  background: -moz-linear-gradient(top, #666666 0%, #333333 100%);
  background: -webkit-linear-gradient(top, #666666 0%, #333333 100%);
  background: linear-gradient(to bottom, #666666 0%, #333333 100%); }

/* line 1, ../scss/_tool.scss */
.tool {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  min-height: 30px;
  background: rgba(255, 255, 255, 0.8); }

/* line 1, ../scss/_fields.scss */
.input, .fields-input {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-indent: 10px;
  outline: none; }
  /* line 10, ../scss/_fields.scss */
  .input:hover, .fields-input:hover {
    border-color: #afd9fa; }
  /* line 13, ../scss/_fields.scss */
  .input:focus, .fields-input:focus {
    border-color: #50acf3; }

/* line 17, ../scss/_fields.scss */
.fields-search {
  padding-right: 60px; }

/* line 21, ../scss/_fields.scss */
.select {
  -webkit-appearance: none;
  background: url(../images/arr-down.png) no-repeat right 8px center transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 30px;
  margin: 0;
  padding: 0 10px 0 10px;
  display: inline-block;
  margin-right: 5px;
  outline: none; }
  /* line 33, ../scss/_fields.scss */
  .select:hover {
    background-color: #fff; }

/* line 38, ../scss/_fields.scss */
.fields {
  margin-bottom: 10px;
  padding-left: 10px; }
  /* line 2, ../scss/_mixin.scss */
  .fields .cloum-r {
    width: 0;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
    z-index: 9; }
  /* line 12, ../scss/_mixin.scss */
  .fields .cloum-l {
    width: 90px;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
    z-index: 9; }
  /* line 22, ../scss/_mixin.scss */
  .fields .cloum-m {
    width: 100%;
    margin-left: -90px;
    margin-right: 0;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative;
    z-index: 8; }
  /* line 34, ../scss/_mixin.scss */
  .fields .cloum-mi {
    margin: 0 0 0 90px; }
  /* line 42, ../scss/_fields.scss */
  .fields .label {
    font-size: 13px;
    vertical-align: middle;
    line-height: 150%;
    text-align: right;
    color: #222; }
  /* line 49, ../scss/_fields.scss */
  .fields .value {
    vertical-align: middle; }
    /* line 51, ../scss/_fields.scss */
    .fields .value .fields-input {
      width: 100%; }
    /* line 54, ../scss/_fields.scss */
    .fields .value .cloum-mi {
      padding-left: 10px; }

/* line 2, ../scss/_radiocheck.scss */
.fields-radio, .fields-checkbox {
  margin: 5px 0;
  height: 25px;
  display: inline-block;
  width: 45%;
  vertical-align: top; }
  /* line 8, ../scss/_radiocheck.scss */
  .fields-radio .fields-label, .fields-checkbox .fields-label {
    font-size: 13px;
    vertical-align: middle;
    display: block;
    padding: 5px 0 5px 25px;
    position: relative; }
    /* line 14, ../scss/_radiocheck.scss */
    .fields-radio .fields-label:hover, .fields-checkbox .fields-label:hover {
      color: #1089e7; }
  /* line 18, ../scss/_radiocheck.scss */
  .fields-radio:after, .fields-checkbox:after {
    content: "";
    display: block;
    clear: both; }

/* line 25, ../scss/_radiocheck.scss */
.fields-radio input[type="radio"] {
  display: block;
  opacity: 0;
  width: 20px;
  height: 20px;
  float: left; }
  /* line 32, ../scss/_radiocheck.scss */
  .fields-radio input[type="radio"] + .fields-label:before {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 5px;
    width: 14px;
    height: 14px;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
    background-color: #eee;
    -moz-box-shadow: inset 0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  /* line 46, ../scss/_radiocheck.scss */
  .fields-radio input[type="radio"] + .fields-label:hover:before {
    background: -moz-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #ededed 0%, #e0e0e0 100%);
    background-color: #dedede;
    -moz-box-shadow: inset 0 1px 0 white, 0 0 0 2px #2095f0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 0 0 2px #2095f0;
    box-shadow: inset 0 1px 0 white, 0 0 0 2px #2095f0; }
  /* line 55, ../scss/_radiocheck.scss */
  .fields-radio input[type="radio"]:checked + .fields-label:before {
    width: 16px;
    height: 16px;
    left: 3px;
    background: -moz-linear-gradient(top, #2095f0 0%, #1089e7 100%);
    background: -webkit-linear-gradient(top, #2095f0 0%, #1089e7 100%);
    background: linear-gradient(to bottom, #2095f0 0%, #1089e7 100%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    -webkit-animation: radioanim 300ms forwards;
    animation: radioanim 300ms forwards; }

/* line 73, ../scss/_radiocheck.scss */
.fields-checkbox input[type="checkbox"] {
  display: block;
  opacity: 0;
  width: 20px;
  height: 20px;
  float: left; }
  /* line 80, ../scss/_radiocheck.scss */
  .fields-checkbox input[type="checkbox"] + .fields-label:before {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 5px;
    width: 14px;
    height: 14px;
    background: -moz-linear-gradient(top, #f1f1f1 0%, #ededed 100%);
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #ededed 100%);
    background: linear-gradient(to bottom, #f1f1f1 0%, #ededed 100%);
    background-color: #eee;
    -moz-box-shadow: inset 0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  /* line 93, ../scss/_radiocheck.scss */
  .fields-checkbox input[type="checkbox"] + .fields-label:after {
    content: "\eb39";
    display: none;
    position: absolute;
    left: 2px;
    top: 0;
    width: 14px;
    height: 14px;
    font-size: 20px;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    color: #2095f0;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-indent: 0 !important;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  /* line 118, ../scss/_radiocheck.scss */
  .fields-checkbox input[type="checkbox"] + .fields-label:hover:before {
    background: -moz-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #ededed 0%, #e0e0e0 100%);
    background-color: #dedede;
    -moz-box-shadow: inset 0 1px 0 white, 0 0 0 2px #2095f0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 0 0 2px #2095f0;
    box-shadow: inset 0 1px 0 white, 0 0 0 2px #2095f0; }
  /* line 127, ../scss/_radiocheck.scss */
  .fields-checkbox input[type="checkbox"]:checked + .fields-label:after {
    display: block;
    -webkit-animation: check 200ms forwards;
    animation: check 200ms forwards; }

@-webkit-keyframes radioanim {
  /* line 140, ../scss/_radiocheck.scss */
  0 {
    background: -moz-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #ededed 0%, #e0e0e0 100%);
    background-color: #e0e0e0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 2px #2095f0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 2px #2095f0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 2px #2095f0; }

  /* line 145, ../scss/_radiocheck.scss */
  80% {
    background: #2095f0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 3px #2095f0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 3px #2095f0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 3px #2095f0; }

  /* line 149, ../scss/_radiocheck.scss */
  100% {
    width: 16px;
    height: 16px;
    left: 3px;
    background: -moz-linear-gradient(top, #2095f0 0%, #1089e7 100%);
    background: -webkit-linear-gradient(top, #2095f0 0%, #1089e7 100%);
    background: linear-gradient(to bottom, #2095f0 0%, #1089e7 100%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6); } }
@-webkit-keyframes check {
  /* line 158, ../scss/_radiocheck.scss */
  0 {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }

  /* line 161, ../scss/_radiocheck.scss */
  70% {
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

  /* line 164, ../scss/_radiocheck.scss */
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes radioanim {
  /* line 169, ../scss/_radiocheck.scss */
  0 {
    background: -moz-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #ededed 0%, #e0e0e0 100%);
    background-color: #e0e0e0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 2px #2095f0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 2px #2095f0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 2px #2095f0; }

  /* line 174, ../scss/_radiocheck.scss */
  80% {
    background: #2095f0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 3px #2095f0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 3px #2095f0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 0 0 3px #2095f0; }

  /* line 178, ../scss/_radiocheck.scss */
  100% {
    width: 16px;
    height: 16px;
    left: 3px;
    background: -moz-linear-gradient(top, #2095f0 0%, #1089e7 100%);
    background: -webkit-linear-gradient(top, #2095f0 0%, #1089e7 100%);
    background: linear-gradient(to bottom, #2095f0 0%, #1089e7 100%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6); } }
@keyframes check {
  /* line 187, ../scss/_radiocheck.scss */
  0 {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }

  /* line 190, ../scss/_radiocheck.scss */
  70% {
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

  /* line 193, ../scss/_radiocheck.scss */
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
/* line 1, ../scss/_pagination.scss */
.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd; }
  /* line 9, ../scss/_pagination.scss */
  .pagination .set-center, .pagination .set-right {
    height: 30px; }
  /* line 12, ../scss/_pagination.scss */
  .pagination a {
    text-decoration: none;
    color: #222;
    font-size: 13px;
    border-radius: 3px;
    transition: all 300ms;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px; }
    /* line 22, ../scss/_pagination.scss */
    .pagination a:hover {
      background: #2095f0;
      color: #fff; }

/* line 1, ../scss/_grid.scss */
.grid {
  overflow: auto;
  min-width: 100%; }
  /* line 4, ../scss/_grid.scss */
  .grid th, .grid td {
    padding: 10px;
    font-size: 13px; }
  /* line 8, ../scss/_grid.scss */
  .grid th {
    background: #333;
    border-bottom: 1px solid #222;
    color: #fff;
    border-right: 1px solid #222; }
  /* line 14, ../scss/_grid.scss */
  .grid td {
    background: #fff;
    border-bottom: 1px solid #ddd; }

/* line 1, ../scss/_grid-content.scss */
.fancybox-skin {
  padding: 0 !important; }

/* line 4, ../scss/_grid-content.scss */
.grid-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center; }

/* line 11, ../scss/_grid-content.scss */
.grid-title {
  padding: 10px;
  color: #666;
  font-size: 15px;
  border-bottom: 2px solid #ddd;
  font-weight: bold; }

/* line 18, ../scss/_grid-content.scss */
.grid-queries {
  min-height: 200px;
  text-align: left; }
  /* line 21, ../scss/_grid-content.scss */
  .grid-queries .col4 {
    padding: 20px 5px; }

/* line 25, ../scss/_grid-content.scss */
.grid-result {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-top: 1px solid #ccc; }
  /* line 32, ../scss/_grid-content.scss */
  .grid-result:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    position: absolute;
    z-index: 9;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); }
  /* line 43, ../scss/_grid-content.scss */
  .grid-result .tool {
    height: 40px;
    padding: 0 10px;
    position: relative;
    z-index: 3; }
    /* line 48, ../scss/_grid-content.scss */
    .grid-result .tool .btn {
      height: 25px;
      line-height: 25px;
      position: relative;
      top: 4px; }

/* line 56, ../scss/_grid-content.scss */
.fullgrid {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  overflow: auto; }

/* line 65, ../scss/_grid-content.scss */
.btn-grid-search {
  display: inline-block;
  margin: 10px;
  width: 96% !important;
  border-radius: 5px;
  line-height: 45px;
  height: 45px;
  font-size: 15px; }
