.text-category {
    margin-top: 7px;
}

.text-tag-blue {
    color: #fff;
    background-color: #3390cc;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-red {
    color: #fff;
    background-color: #d65858;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-option {
    color: #666666;
    margin-right: 3px;
}

.text-subject {
    color: #888888;
}

.text-data {
    color: #333333;
    padding-right: 12px;
}

.text-more a {
    color: #fff;
    background-color: #357ebd;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
    text-decoration: none;
}

    .text-more a:hover {
        color: #fff;
        background-color: #3071a9;
        text-decoration: none;
    }

.bs-callout h4 img {
    margin-right: 5px;
}

.text-tag-cyan {
    color: #fff;
    background-color: #3ab4d1;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-purple {
    color: #fff;
    background-color: #787cd5;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-green {
    color: #fff;
    background-color: #84be32;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-yellow {
    color: #fff;
    background-color: #f2b345;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}





.text-tag-Max {
    color: #fff;
    background-color: #3ab4d1;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-Base {
    color: #fff;
    background-color: #787cd5;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-Opt {
    color: #fff;
    background-color: #84be32;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}

.text-tag-ACP {
    color: #fff;
    background-color: #f2b345;
    margin-right: 3px;
    padding: 2px 10px 3px;
    border-radius: 10px;
}
