﻿ .sidecontainer
    {
        /*display:none;*/
        position: fixed;
        padding: 10px 15px;
        font-size: 20px;
        /*background:#FFFFFF;*/
        background-color:transparent;
        /*color: white;*/
        border:none;
        cursor: pointer;
    }

