﻿ul.niceList {
    margin-left: 15px;
    padding-left: 0.2em;
    margin-bottom: 5px;
    margin-top:5px;
}

    ul.niceList li {
        background: url(../../Images/bullet.png) 0em 0.3em no-repeat; /* change background em accordingly */
        list-style: none;
        border-bottom: dotted 1px #ccc;
        padding-top: 2px;
        padding-bottom: 5px;
        padding-left: 15px;
        margin-bottom: 3px;
        margin-left: -15px;
    }
    li.xx{
        background:none;
    }

.niceList ul li {
    background-image: url(bullet_child.gif);
}

ol.niceList li, ul.niceList li {
    margin-bottom: 0.5em;
}

ol.niceList {
    margin-left: 1.5em;
    padding-left: 0px;
}

.niceList ol li {
    list-style: decimal;
    background-image: none;
    padding-left: 0em;
}
thead tr td {
   text-align:center;
   vertical-align:middle;
   white-space: nowrap;
}
